{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% include 'partials/nav.html.twig' %}

    <!-- CANVAS -->
    <section class="canvas content">
        <h1>Register</h1>
    </section>
    <!-- CANVAS END -->

    <!-- MAIN -->
    <main>
        {{ form_start(registrationForm) }}
            <div class="security-form">
                {% for notice in app.flashes('notice') %}
                    <div class="security-message"><span>{{ notice }}</span></div>
                {% endfor %}
                <div class="form-row">{{ form_row(registrationForm.username) }}</div>
                <div class="form-row">{{ form_row(registrationForm.email) }}</div>
                <div class="form-row">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
                <div class="form-row inverse-flex">{{ form_row(registrationForm.agreeTerms) }}</div>
                <button type="submit" class="security-button">Register</button>
            </div>
        {{ form_end(registrationForm) }}
    </main>
    <!-- MAIN END -->
{% endblock %}
