<!-- TOP NAVIGATION -->
{% set current_route = app.request.get('_route') %}

<nav>
	<div class="grid-template">
		<div class="block-logo">
			<span class="logo">
				<img src="{{ asset('assets/images/logo.png') }}" alt="GamerMind" />
			</span>
		</div>
		<div class="block-nav">
			<ul>
				<li><a href="{{ path('app_home') }}" class="{{ current_route == 'app_home' ? 'active' : '' }}" class="active">Home</a></li>
				<li><a href="{{ path('app_products') }}" class="{{ 'products' in current_route ? 'active' : '' }}">Shop</a></li>
				<li>
					<a href="{{ path('app_cart') }}">
						<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
							<g>
								<circle fill="#FFFFFF" cx="44" cy="60" r="4"/>
								<circle fill="#FFFFFF" cx="28" cy="60" r="4"/>
								<path fill="#FFFFFF" d="M63.246,21.66C62.492,20.617,61.285,20,60,20H18.977L15.934,3.285C15.59,1.383,13.934,0,12,0H4
									C1.789,0,0,1.789,0,4s1.789,4,4,4h4.66l7.406,40.715C16.41,50.617,18.066,52,20,52h32c1.723,0,3.25-1.102,3.793-2.734l8-24
									C64.203,24.047,63.996,22.703,63.246,21.66z"
								/>
							</g>
						</svg>
					</a>
				</li>
				<li class="dropdown">
					<div class="user">
						<svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" width="20px" height="20px" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
						{% if app.user %}
							<span>{{ app.user.username }}</span>
						{% endif %}
					</div>
					{% if app.user %}
						<ul>
							<li><a href="{{ path('app_account', { 'username': app.user.username }) }}" class="{{ current_route == 'app_account' ? 'active' : '' }}">Profile</a></li>
							<li><a href="{{ path('app_change_password') }}" class="{{ current_route == 'app_change_password' ? 'active' : '' }}">Change Password</a></li>
							<li><a href="{{ path('app_orders') }}" class="{{ current_route == 'app_orders' ? 'active' : '' }}">Orders</a></li>
							<li><a href="{{ path('app_requests') }}" class="{{ current_route == 'app_requests' ? 'active' : '' }}">Requests</a></li>
							<li><a href="{{ path('app_messages') }}" class="{{ current_route == 'app_messages' ? 'active' : '' }}">Messages</a></li>
							<li><a href="{{ path('app_logout') }}" class="active">Logout</a></li>
						</ul>
					{% else %}
						<ul>
							<li><a href="{{ path('app_login') }}" class="{{ current_route == 'app_login' ? 'active' : '' }}">Login</a></li>
							<li><a href="{{ path('app_register') }}" class="{{ current_route == 'app_register' ? 'active' : '' }}">Register</a></li>
						</ul>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- TOP NAVIGATION END -->
