<!-- SUB HEADER -->
<aside class="subheader">
	<div class="grid-template">
		<div class="block-info">
			<div class="sub-title">
				<p>Today's</p>
			</div>
			<div class="main-title">
				<p>Games collection</p>
			</div>
			<div class="summary">
				<p>We selected the best game titles for you to enjoy.</p>
			</div>
			<div class="block-button">
				<div class="button button-style2 button-style3">
					<a href="{{ path('app_products') }}">Browse more</a>
				</div>
			</div>
		</div>
		<div class="block-slider">
			<div class="games">
				{% if games %}
					{% for game in games %}
						<div class="poster">
							<div class="poster-img">
								<img src="{{ vich_uploader_asset(game, 'imageFile') }}" alt="{{ game.title }}">
							</div>
							<a href="/products/{{ game.id }}">{{ game.title }}</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</aside>
<!-- SUB HEADER END -->
