{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    {% include 'partials/nav.html.twig' %}

    <!-- CANVAS -->
    <section class="canvas content">
        <h1>Shop</h1>
    </section>
    <!-- CANVAS END -->

    <!-- MAIN -->
    <main>
        {% if games %}
            <h2>Games</h2>

            <div class="product-catalog">
                {% for game in games %}
                    <div class="product">
                        <a href="/products/{{ game.id }}">
                            <img src="{{ vich_uploader_asset(game, 'imageFile') }}" alt="{{ game.title }}">
                            <div class="product-description">
                                <h3>{{ game.title }}</h3>
                                <p>{{ game.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if devices %}
            <h2>Devices</h2>

            <div class="product-catalog">
                {% for device in devices %}
                    <div class="product">
                        <a href="/products/{{ device.id }}">
                            <img src="{{ vich_uploader_asset(device, 'imageFile') }}" alt="{{ device.title }}">
                            <div class="product-description">
                                <h3>{{ device.title }}</h3>
                                <p>{{ device.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
    <!-- MAIN END -->
{% endblock %}
