{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    {% include 'partials/nav.html.twig' %}
    <!-- CANVAS -->
    <section class="canvas content">
        <h1>Order</h1>
    </section>
    <!-- CANVAS END -->

    <!-- MAIN -->
    <main>
        {{ form_start(form) }}
            <h2>Your information</h2>
            <p class="order-information"><span>Name: </span>{{ address.firstName }} {{ address.lastName }}</p>
            <p class="order-information"><span>Address: </span>{{ address.zipCode }}, {{ address.street }}, {{ address.city }}, {{ address.country }}</p>
            <h2>Order summary</h2>
            {% set total = null %}
            {% set totalPerItem = null %}
            {% set numberOfItems = null %}
            {% for item in cart %}
                {% if item.product %}
                    {% set total = total + (item.product.price * item.quantity) %}
                    {% set totalPerItem = item.product.price * item.quantity %}
                    {% set numberOfItems = numberOfItems + item.quantity %}
                    <div class="cart-item">
                        <a href="{{ path('app_product', { 'id': item.product.id }) }}" class="cart-anchor">
                            <img src="{{ item.product.image ? vich_uploader_asset(item.product, 'imageFile') : asset('assets/images/default.jpg') }}" alt="{{ item.product.title }}" width="100">
                        </a>
                        <p>{{ item.product.title }}</p>
                        <p>Qty: {{ item.quantity }}</p>
                        <p>${{ totalPerItem }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="cart-info">
                <span>Number of items: {{ numberOfItems }}</span>
                <span>Total: ${{ total }}</span>
            </div>
            <button type="submit" class="order-button">Checkout & Pay</button>
        {{ form_end(form) }}
    </main>
    <!-- MAIN END -->
{% endblock %}
